.App {
  text-align: center;
}

.chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
}